/*

  STYLES

  Add custom styles here.

*/

.moon-purple {
    color: var(--moon-purple);
}

.bg-moon-purple {
    background-color: var(--moon-purple);
}

.hover-moon-purple:hover,
.hover-moon-purple:focus {
    color: var(--moon-purple);
}

.hover-bg-moon-purple:hover,
.hover-bg-moon-purple:focus {
    background-color: var(--moon-purple);
}

.b--moon-purple {
    border-color: var(--moon-purple);
}


:root {
    --card-size: 11rem;
    --sidebar-size: 20rem;
    --shadow-distance: 7px;
}

.wcard {
    width: var(--card-size)
}

.hcard {
    height: var(--card-size)
}
.min-w-sidebar {
    min-width: var(--sidebar-size);
}
.text-shadow {
    bottom: var(--shadow-distance);
    right: var(--shadow-distance);
}

@media (--breakpoint-not-small) {
    .wcard-ns {
        width: var(--card-size)
    }

    .hcard-ns {
        height: var(--card-size)
    }
    .min-w-sidebar-ns {
        min-width: var(--sidebar-size);
    }
    .text-shadow-ns {
        bottom: var(--shadow-distance);
        right: var(--shadow-distance);
    }
}

@media (--breakpoint-medium) {
    .wcard-m {
        width: var(--card-size)
    }

    .hcard-m {
        height: var(--card-size)
    }
    .min-w-sidebar-m {
        min-width: var(--sidebar-size);
    }
    .text-shadow-m {
        bottom: var(--shadow-distance);
        right: var(--shadow-distance);
    }
}

@media (--breakpoint-large) {
    .wcard-l {
        width: var(--card-size)
    }

    .hcard-l {
        height: var(--card-size)
    }
    .min-w-sidebar-l {
        min-width: var(--sidebar-size);
    }
    .text-shadow-l {
        bottom: var(--shadow-distance);
        right: var(--shadow-distance);
    }
}
