# Database options
# this should be set to the gateway ip of the docker network you created
# POSTGRES_HOST=192.168.0.1
# POSTGRES_PORT=5432
# POSTGRES_DB=noagreements
# POSTGRES_USER=noagreements
# use a proper password here!
POSTGRES_PASSWORD=

# use a long, randomly generated string
SECRET_KEY=

# set this to either the hostname or ip adress of the interface the server will be running on
HOST=noagreements.co

# email settings

EMAIL_HOST=mail.noagreements.co
EMAIL_PORT=465
EMAIL_HOST_USER=noreply@noagreements.co
EMAIL_HOST_PASSWORD=

