
# POSTGRES_DB=noagreements
# POSTGRES_USER=postgres

# use a proper password here!
# POSTGRES_PASSWORD=

# use a long, randomly generated string
# SECRET_KEY=
# HOST=noagreements.co
# APP_PORT=8001
# PORT=8000

