# Database options
# POSTGRES_HOST=postgres
# POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
# POSTGRES_DB=noagreements
# POSTGRES_USER=postgres
# use a proper password here!
# POSTGRES_PASSWORD=

# Backup variables
# SCHEDULE=@daily
# BACKUP_KEEP_DAYS=7
# BACKUP_KEEP_WEEKS=4
# BACKUP_KEEP_MONTHS=6
# HEALTHCHECK_PORT=8080

# use a long, randomly generated string
# SECRET_KEY=

# set this to either the hostname or ip adress of the interface the server will be running on
# HOST=noagreements.co

# It is recommended to set this to a non-public port, such as 8000, and then use a reverse proxy like nginx
# to handle SSL
# PORT=8000

# email settings

# EMAIL_HOST=mail.noagreements.co
# EMAIL_PORT=465
# EMAIL_HOST_USER=noreply@noagreements.co
# EMAIL_HOST_PASSWORD=

