asgiref==3.2.10
bleach==3.2.1
click==7.1.2
Django==3.1.2
django-appconf==1.0.4
django-select2==7.4.2
h11==0.11.0
httptools==0.1.1
Markdown==3.3.3
packaging==20.4
psycopg2==2.8.6
pyparsing==2.4.7
python-dotenv==0.15.0
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
uvicorn==0.12.1
uvloop==0.14.0
webencodings==0.5.1
websockets==8.1
