{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>No Agreements | About</title>
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block content %}

    <div class="h-100 flex flex-column bg-moon-purple">
        <h1 class="pa5 f1 tac">No Agreements is an internet based multimedia
            art collective founded by City Light Mosaic in
            2018 with members all across the globe</h1>
        <div class="tac pa3">
            <h1>
                <span class="f2 underline">The current members/groups of No Agreements are:</span><br>
                {% include "core/components/about_member.html" with name="Asogi" only %},
                {% include "core/components/about_member.html" with name="beat-trip" only %},
                {% include "core/components/about_member.html" with name="Blaise's Place/djhfs" only %},
                {% include "core/components/about_member.html" with name="Dagey Bape God" only %},
                {% include "core/components/about_member.html" with name="DoNotCondone" only %},
                {% include "core/components/about_member.html" with name="Earn Raku" only %},
                {% include "core/components/about_member.html" with name="Farboro" only %},
                {% include "core/components/about_member.html" with name="Install a Friend" only %},
                {% include "core/components/about_member.html" with name="Todd Jordan" only %},
                {% include "core/components/about_member.html" with name="Kathi Kross" only %},
                {% include "core/components/about_member.html" with name="Omar Kooliyat" only %},
                {% include "core/components/about_member.html" with name="Krullebol" only %},
                {% include "core/components/about_member.html" with name="Material Girl" only %},
                {% include "core/components/about_member.html" with name="Memory Lakes" only %},
                {% include "core/components/about_member.html" with name="Mondegreen" only %},
                {% include "core/components/about_member.html" with name="Naaki Soul" only %},
                {% include "core/components/about_member.html" with name="NoteLord/Ciaran Galati" only %},
                {% include "core/components/about_member.html" with name="Pink Pots" only %},
                {% include "core/components/about_member.html" with name="Prismadoll" only %},
                {% include "core/components/about_member.html" with name="Saint Misery" only %},
                {% include "core/components/about_member.html" with name="Pete Sullivan" only %},
                {% include "core/components/about_member.html" with name="University Press" only %},
                and {% include "core/components/about_member.html" with name="The Rarity" only %}
            </h1>
        </div>
        <div>
            <h1>contact:</h1>
            <h1>general:
                <a href="mailto: contact@noagreements.co">contact@noagreements.co</a>
            </h1>
            <h1>support:
                <a href="mailto: support@noagreements.co">support@noagreements.co</a>
            </h1>
            <h1>submissions:
                <a href="mailto: submissions@noagreements.co">submissions@noagreements.co</a>
            </h1>
        </div>
    </div>
{% endblock %}
