{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% block css %}
        <link rel="stylesheet" href={% static "core/styles/tachyons.min.css" %}>
        <link rel="stylesheet" href={% static "core/styles/base.css" %}>
    {% endblock %}
    {% block title %}
        <title>Title</title>
    {% endblock %}
    {% block icon %}
        <link rel="icon" href={% static "core/img/doggie.png" %}>
    {% endblock %}
    <script src={% static "core/js/burger.js" %}></script>
</head>
<body>
<div class="flex vh-100">
    <div class="dn dib-l h-100 w-100 w-20-l absolute z-5 relative-l" id="sidebar">
        {% block sidebar %}
            {% include "core/components/sidebar.html" %}
        {% endblock %}
    </div>
    <div class="flex flex-column w-100 w-80-l vh-100">
        <div class="dn db-l">
        {% block linkbar %}
            {% include "core/components/linkbar.html" %}
        {% endblock %}
        </div>
        <div class="dn-l db">
            {% include "core/components/menubar.html" %}
        </div>
        <div class="h-100-l overflow-auto">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>
</div>


</body>
</html>