{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}
    {% block icon %}
        <link rel="icon" href={% static "core/img/doggie.png" %}>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href={% static "core/styles/base.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "core/styles/sidebar.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "core/styles/text-styles.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "core/styles/linkbar.css" %}>
    {% endblock %}
</head>
<body>
{% block sidebar %}
    {% include "core/components/sidebar.html" %}
{% endblock %}

{% block linkbar %}
    {% include "core/components/linkbar.html" %}
{% endblock %}

<div id="mainpage">
{% block content %}
{% endblock %}

</div>
</body>
</html>