{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>No Agreements | Creators</title>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href={% static "core/styles/creators.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "core/styles/creator-card.css" %}>
{% endblock %}
{% block content %}
    <div class="creators">
    {% for creator in creators %}
        {% include "core/components/creator_card.html" with creator=creator only %}
    {% endfor %}
    </div>

{% endblock %}
