{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>No Agreements | New Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "core/styles/create-post.css" %}" />
{% endblock %}
{% block content %}
    <form class="create-post-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>

    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("id_content"),
            forceSync: true
        });
    </script>
{% endblock %}
