{% extends "core/base.html" %}
{% load static %}
{% load basic_form_field %}
{% block title %}
    <title>No Agreements | New Post</title>
    {{ form.media.js }}
{% endblock %}
{% block css %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static "core/styles/create-post.css" %}"/>
    <link rel="stylesheet" href="{% static "core/styles/editor_content.css" %}"/>
{% endblock %}
{% block content %}
    <div class="create-post w-100">
        <form class="create-post-form" method="post">
            {% csrf_token %}
            <div class="form-row">
                {% basic_form_field form.title "title" %}
                {% basic_form_field form.cover_img "cover_img" %}
            </div>
            <div class="flex flex-column flex-row-l">
                <div>
                    <h2>Tags</h2>
                    <div class="flex flex-row flex-column-l flex-wrap">
                        {% basic_form_field form.tags "tags"%}
                    </div>
                </div>

                <div class="vh-75 w-90-l ml-auto-l">
                    {% basic_form_field form.content "content" %}
                </div>
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}
