{% extends "core/base.html" %}
{% load static %}
{% load basic_form_field %}
{% block title %}
    <title>No Agreements | New Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "core/styles/create-post.css" %}"/>
{% endblock %}
{% block content %}
    <div class="create-post">
        <form class="create-post-form" method="post">
            {% csrf_token %}
            <div class="form-row">
                {% basic_form_field form.title "title" %}
                {% basic_form_field form.cover_img "cover_img" %}
            </div>
            {% basic_form_field form.content "content" %}
            <input type="submit" value="Save">
        </form>
    </div>

    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("id_content"),
            forceSync: true
        });
    </script>
{% endblock %}
