{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>No Agreements | {{ object.username }}</title>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href={% static "core/styles/post_card.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "core/styles/creator-detail.css" %}>
{% endblock %}
{% block content %}
    <div class="creator-detail">
        <h1>{{ object.username }}</h1>
    <div class="feed">
        {% for post in posts %}
            {% include "core/components/post_card.html" with post=post only %}
        {% endfor %}
    </div>
    </div>

{% endblock %}