{% extends "core/base.html" %}
{% load static %}
{% load link_button %}
{% block title %}
    <title>No Agreements | {{ object.username }}</title>
{% endblock %}
{% block content %}

    <div class="bg-moon-purple relative pa3 min-h-50 overflow-hidden">
        {% if perms.core.change_user %}
            <div class="pa3 absolute right-0 top-0 z-3">
                {% link_button "Edit" "primary" "admin:core_user_change" object.id %}
            </div>
        {% endif %}
        <div class="absolute w-100-ns z-0 tc tac vh-50">
            {% if object.profile_img %}
                <img class="h-100 center object-cover w-auto h-auto-ns w-100-ns blur center-image"
                     src={{ object.profile_img }} alt={{ object.username }}>
            {% else %}
                <img class="h-100 object-cover w-auto h-auto-ns min-w-100-ns blur"
                     src={% static "core/img/doggie.png" %} alt={{ object.username }}>
            {% endif %}
        </div>
        <div class="absolute w-100 left-0 bottom-0 z-1 bg-black o-70 h-100"></div>
        <div class="tc relative ttu z-2 h5 pb4 pb0-l margin-auto w-100">
            <div class="relative h-100 center">
                <div class="f2 f-headline-l moon-purple absolute left-0 right-0 bottom-0">
                    ///{{ object.artist_name }}///
                </div>
                <div class="f1 f-headline-l white absolute left-0 text-shadow">
                    ///{{ object.artist_name }}///
                </div>
            </div>
        </div>
        <div class="f2 f1-ns tl relative tc z-2 flex-ns flex-row-ns flex-wrap-ns justify-center pt3-ns">
            {% for contact_link in socials %}
                <a class="purple ttu no-underline db"
                   href={{ contact_link.url }}>/{{ contact_link.name }}/</a>

            {% endfor %}
        </div>
    </div>
    <div class="pa3 relative z-1 bg-moon-gray min-h-100">
        {{ object.description | safe }}
    </div>


{% endblock %}