{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>Home</title>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href={% static "core/styles/home.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "core/styles/post_card.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "core/styles/featured_post.css" %}>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}
{% block content %}

    <div class="home">
        <div class="featured main-carousel"
             data-flickity=
                     '{
                     "contain":"true",
                     "groupCells": "true",
                     "autoPlay": 3000
                     }'>
            {% for post in featured_posts %}
                {% include "core/components/featured_post.html" with post=post only %}
            {% endfor %}


        </div>

        <div class="releases">
            <div class="title big-text light-color">What's new</div>
            <div class="releases-content">
                {% for post in recent_posts %}
                    {% include "core/components/post_card.html" with post=post only %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
