{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>Home</title>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href={% static "core/styles/post_card.css" %}>
    <link rel="stylesheet" type="text/css"
          href={% static "core/styles/flickity.css" %}>
    <link rel="stylesheet"
          href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}
{% block content %}

    <h1>TEST</h1>
    <div class="flex flex-column flex-row-l h-100-l">
        <div class="main-carousel w-50-l vh-50 h-100-l"
             data-flickity=
                     '{
                     "contain": true,
                     "groupCells": true,
                     "pageDots": false,
                     "autoPlay": true
                     }'>
            {% for post in featured_posts %}
                {% include "core/components/featured_post.html" with post=post only %}
            {% endfor %}
        </div>

        <div class="w-100 w-50-l h-100-l bg-light-purple overflow-auto-l pl3-l">
            <div class="flex flex-wrap flex-column tac ttu">
                {% for tag in tags %}
                    {% if tag.post_set.count %}
                        <div class="flex flex-column">
                            <div class="w-100 pv2 tc f3 underline black">{{ tag.description }}</div>

                            <div class="dn w-100 h-inherit-l flex-l flex-wrap flex-row">
                                {% for post in tag.post_set.all %}
                                    {% include "core/components/post_card.html" with post=post only %}
                                {% endfor %}
                            </div>
                            <div class="db dn-l w-100 main-carousel w-100-l h5 h-inherit-l"
                                 data-flickity=
                                         '{
                     "contain": true,
                     "prevNextButtons": false,
                     "pageDots": false
                     }'>
                                {% for post in tag.post_set.all %}
                                    {% include "core/components/post_card.html" with post=post only %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
