{% extends "core/base.html" %}
{% load static %}
{% block title %}
    <title>No Agreements | {{ object.title }}</title>
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="post-detail pa3">
        <div>
            <h1 class="dib">{{ object.title }}</h1>


            {% if perms.auth.add_post %}
                <button class="fr f2 mr4">
                    <a href={% url "edit_post" object.id %}>Edit</a>
                </button>
            {% endif %}
        </div>
        <div>{{ object.pub_date }}</div>
        <div>{{ object.content | safe }}</div>
    </div>
{% endblock %}
