{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href={% static "core/styles/tachyons.min.css" %}>
    <link rel="stylesheet" href={% static "core/styles/base.css" %}>
    <title>No Agreements</title>
    <link rel="icon" href={% static "core/img/doggie.png" %}>
</head>
<body>
<div class="vh-100 w-100 bg-black ml-auto flex flex-column">
    <div class="h-75-ns ml-auto mr-auto">
        <img class="h-100-ns" alt="No Agreements splash art by codex"
             src={% static "core/img/codog.jpg" %}>
    </div>
    <div class="f3 white ml-auto mr-auto">art by codex</div>
    <div class="ml-auto mr-auto">
        <a href={% url "home" %}>
            <img alt="enter" src={% static "core/img/enter.png" %}/>
        </a>
    </div>
</div>
</body>
</html>