#about {
    font-weight: normal;
    text-transform: uppercase;
    height: 97vh;
    background-color: #a9a5b3;
    display: flex;
    flex-direction: column;
}

#bio {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 4vh;
    font-size: 30px;
    text-align: center;
}

#members {
    text-align: center;
    padding-top: 9vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 20px;
}

.current {
    font-size: 45px;
    text-decoration: underline;
}

.member {
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
    color: #3b393f;
}

#contact {
    font-size: 13px;
    position: absolute;
    padding-left: .2vw;
    bottom: .1vh;
}


@media only screen and (max-width: 1900px) {

    #bio {
        font-size: 27px;
    }

    .current {
        font-size: 40px;
    }

    #members {
        font-size: 20px;
    }

    #contact {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1700px) {

    #bio {
        font-size: 23px;
    }

    .current {
        font-size: 35px;
    }

    #members {
        font-size: 17px;
    }

    #contact {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1500px) {

    #bio {
        font-size: 20px;
    }

    .current {
        font-size: 30px;
    }

    #members {
        font-size: 14px;
    }

    #contact {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1200px) {

    #about {
        height: 100%;
    }

    #bio {
        font-size: 45px;
        padding-top: 3vh;
    }

    #members {
        padding-top: 3vh;
        font-size: 30px;
    }

    .current {
        font-size: 60px;
    }

    #contact {
        padding-top: 100px;
        position: inherit;
        font-size: 2vw;
    }

}
