html {
    font-family: coolvetica, serif;
    background-color: #f1eef7;
}

@font-face {
    font-family: "coolvetica";
    src: url('../fonts/coolvetica.ttf');
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
}

#mainpage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


