html {
    font-family: coolvetica, serif;
    background-color: #f1eef7;
}

@font-face {
    font-family: "coolvetica";
    src: url('../fonts/coolvetica.ttf');
}

body {
    margin: 0;
    height: 100vh;
}

#mainpage {
    width: 80%;
    height: calc(100vh - 2em);
    left: 20%;
    position: relative;
    top: 2em;
}

@media all and (max-width: 800px) {
    #mainpage {
        width: 100%;
        left: 0;
        top: 0;
    }

}


