html {
    font-family: coolvetica, serif;
    background-color: #f1eef7;
}

@font-face {
    font-family: "coolvetica";
    src: url('../fonts/coolvetica.ttf');
}

body {
    margin: 0;
    height: 100vh;
}

.hoverstate {
    position: absolute;
    left: 0;
    bottom: 0;
    color: black;
    opacity: 0;
    text-decoration: none;
    text-overflow: clip;
}
.hoverstate:hover {
    opacity: 1;
}
.wmc {
    width: max-content;
}
.text-shadow{
    text-shadow: .1vh .1vh 0 #f1eef7;
}

#mainpage {
    width: 80%;
    height: calc(100vh - 2em);
    left: 20%;
    position: relative;
    top: 2em;
}

@media all and (max-width: 800px) {
    #mainpage {
        width: 100%;
        left: 0;
        top: 0;
    }

}



