
.creators {
    height: 97vh;
    background-color: #f1eef7;
    font-family: coolvetica;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.image {
    margin-top: 8%;
    width: 80%;
    border: 5px solid black;
}

.title {
    text-decoration: underline;
    color: black;
}


@media only screen and (max-width: 1900px) {
    #creators {
        font-size: 19px;
    }
}

@media only screen and (max-width: 1700px) {
    #creators {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1500px) {
    #creators {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1200px) {

    #creators {
        height: 100%;
        grid-template-columns: 25% 25% 25% 25%;
        font-size: 20px;
    }

    #therarity {
        padding-bottom: 20px;
    }

}
