#mainpage {
    height: 100%;
    display: flex;
    position: relative;
    z-index: 3;
}

#newalbum {
    background-color: #f1eef7;
    width: 50%;
}

.newalbumtext {
    text-align: center;
    text-transform: uppercase;
}

.outnow {
    font-size: 55px;
    font-weight: bold;
}

.newgroupalbum {
    font-size: 32px;
    font-weight: bold;
}

#newalbumlinks {
    font-size: 40px;
    font-weight: bold;
}

.newalbumlink {
    text-decoration: underline;
    color: black;
}

.newalbumimg {
    width: 100%;
}

#padding {
    display: none;
}

#latestreleases {
    width: 50%;
    background-color: #a9a5b3;
    display: flex;
    min-height: 100vh;
    height: 100%;
}

#releases {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    text-transform: uppercase;
}

.releaseimage {
    width: 80%;
    border: 5px solid black;
    margin-top: 8%;
}

.releasetext {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

#whatsnew {
    margin-top: 30px;
    text-align: center;
}

#whatsnewmobile {
    display: none;
}

.whatsnewtext {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
}


@media only screen and (max-width: 1900px) {

    .releasetext {
        font-size: 28px;
    }

    #newalbumlinks {
        font-size: 37px;
    }

    #whatsnew {
        margin-top: 25px;
    }

    .whatsnewtext {
        font-size: 73px;
    }

    .outnow {
        font-size: 50px;
    }

    .newgroupalbum {
        font-size: 29px;
    }
}

@media only screen and (max-width: 1700px) {

    .outnow {
        font-size: 45px;
    }

    .newgroupalbum {
        font-size: 26px;
    }

    .releasetext {
        font-size: 25px;
    }

    #whatsnew {
        margin-top: 20px;
    }

    .whatsnewtext {
        font-size: 65px;
    }

    #newalbumlinks {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1500px) {

    .outnow {
        font-size: 37px;
    }

    .newgroupalbum {
        font-size: 21px;
    }

    .releasetext {
        font-size: 21px;
    }

    #whatsnew {
        margin-top: 10px;
    }

    .whatsnewtext {
        font-size: 55px;
    }

    #newalbumlinks {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1200px) {

    #mainpage {
        display: initial;
    }

    #newalbum {
        width: 100%;
        height: 100%;
    }

    .outnow {
        font-size: 7.8vw;
    }

    .newgroupalbum {
        font-size: 4.6vw;
    }

    #newalbumlinks {
        font-size: 6vw;
        padding-bottom: 1vh;
    }

    #latestreleases {
        width: 100%;
    }

    #whatsnewmobile {
        text-align: center;
        display: inherit;
    }

    .releasetext {
        font-size: 5vw;
    }

    .whatsnewtext {
        text-align: center;
    }

    #whatsnew {
        display: none;
    }

    #mobilespacer {
        height: 50px;
    }

}
