{% load static %}
<a class="w4 h4 w5-l h5-l no-underline moon-purple ba bw3 b--purple relative ma2" href={% url "creator_detail" creator.id %}>
    {% if creator.profile_img %}
        <img class="w-100 h-100 object-cover" alt="{{ post.title }}" src="{{ creator.profile_img }}"/>
    {% else %}
        <img class="w-100 h-100 object-cover" alt="{{ post.title }}" src="{% static "core/img/doggie.png" %}"/>
    {% endif %}

    <div class="absolute bg-black-20 bg-black-40-l h-100 h4-l bottom-0 left-0 right-0 ph2 tc flex content-center items-center">
        <span class="f4 f2-l overflow-hidden-l pv2 white mr-auto ml-auto">{{ creator.artist_name }}</span>
    </div>
</a>