<div id="linkbar">
    <div id="barlinks">
        <a class="link" target="_blank" href="https://noagreements.bandcamp.com">bandcamp</a> /
        <a class="link" target="_blank" href="https://www.facebook.com/noagreements/">facebook</a> /
        <a class="link" target="_blank" href="https://www.instagram.com/noagreementsofficial/">instagram</a> /
        <a class="link" target="_blank" href="https://soundcloud.com/noagreements">soundcloud</a> /
        <a class="link" target="_blank"
           href="https://open.spotify.com/artist/4Fyt4RSVd6z6h6yhfyfAKJ?si=5_snZYtPTw-6gE52xKoUvQ">spotify</a> /
        <a class="link" target="_blank" href="https://twitter.com/noagreements">twitter</a> /
        <a class="link" target="_blank" href="https://www.youtube.com/channel/UCsc2t7ADVYpvNgXZT11syPA">youtube</a> |
        <a class="link2" target="_blank" href="https://mantratrax.bandcamp.com">mantra</a>
    </div>
</div>
<div id="linkbarmobile">
    <div id="barlinks">
        <a class="link" target="_blank" href="https://www.facebook.com/noagreements/">facebook</a> /
        <a class="link" target="_blank" href="https://www.instagram.com/noagreementsofficial/">instagram</a> /
        <a class="link" target="_blank" href="https://twitter.com/noagreements">twitter</a> |
        <a class="link2" target="_blank" href="https://mantratrax.bandcamp.com">mantra</a>
    </div>
</div>
