{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-content" onclick="closeBurger()">
        <div class="item">
            <div>no agreements</div>
            <div>just noise</div>
            <div>...</div>
        </div>
        <div class="item">
            <a class="hoverstate" href={% url "home" %}>////////</a>
            <div>home</div>
        </div>
        <div class="item">
            <a class="hoverstate" href={% url "about" %}>//////////</a>
            <div>about</div>
        </div>
        <div class="item">
            <a class="hoverstate" href={% url "creators" %}>///////////////</a>
            <div>creators</div>
        </div>
        <div class="item">
            <a class="hoverstate" href={% url "group" %}>//////////</a>
            <div>group</div>
        </div>
        <div class="item">
            <a class="hoverstate" href={% url "news" %}>////////</a>
            <div>news</div>
        </div>
        <div class="item">
            <a class="hoverstate" href={% url "mixes" %}>////////</a>
            <div>mixes</div>
        </div>
        {% if user.is_authenticated %}
            <div class="item">
                <a class="hoverstate" href={% url "new_post" %}>///////////</a>
                <div>create</div>
            </div>
            <div class="item">
                <a class="hoverstate" href={% url "creator_detail" user.id %}>//////</a>
                <div>you</div>
            </div>
            <div class="item">
                <a class="hoverstate" href={% url "logout" %}>////////////</a>
                <div>logout</div>
            </div>
        {% else %}
            <div class="item">
                <a class="hoverstate" href={% url "login" %}>/////////</a>
                <div>login</div>
            </div>
        {% endif %}
    </div>
</div>
<div class="burger-wrapper">
    <div class="burger" onclick="openBurger()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<div class="close-wrapper" id="close-wrapper">
    <div class="close-button" onclick="closeBurger()">
        <p class="close-button-x">X</p>
    </div>
</div>


