{% load static %}
<div id="sidebar">
    <img alt="doggie" class="doggie" src={% static "core/img/doggie.png" %}/>
    <div id="najn">
        <div>no agreements</div>
        <div>just noise</div>
        <div>...</div>
        <a class="hoverstate" href={% url "home" %}>////////</a>
        <div>home</div>
        <a class="hoverstate" href={% url "about" %}>//////////</a>
        <div>about</div>
        <a class="hoverstate" href={% url "creators" %}>///////////////</a>
        <div>creators</div>
        <a class="hoverstate" href={% url "group" %}>//////////</a>
        <div>group</div>
        <a class="hoverstate" href={% url "news" %}>////////</a>
        <div>news</div>
        <a class="hoverstate" href={% url "mixes" %}>////////</a>
        <div>mixes</div>
        {% if user.is_authenticated %}
            <a class="hoverstate" href={% url "new_post" %}>///////////</a>
            <div>create</div>
            <a class="hoverstate" href={% url "logout" %}>////////////</a>
            <div>logout</div>
        {% else %}
            <a class="hoverstate" href={% url "login" %}>/////////</a>
            <div>login</div>
        {% endif %}
    </div>
</div>
{#<div id="sidebarmobile">#}
{#    <a class="mobilelink" href={% url "home" %}>home</a> /#}
{#    <a class="mobilelink" href={% url "about" %}>about</a> /#}
{#    <a class="mobilelink" href={% url "creators" %}>creators</a> /#}
{#    <a class="mobilelink" href="group">group</a> /#}
{#    <a class="mobilelink" href="news">news</a> /#}
{#    <a class="mobilelink" href="mixes">mixes</a> /#}
{#    <a class="mobilelink" href={% url "login" %}>login</a>#}
{#</div>#}
