{% load static %}
{% load sidebar_item %}
<aside class="dib flex flex-column bg-moon-gray mw-30 h-100 overflow-auto w-100" id="sidebar">
    <div class="pa4" onclick="closeBurger()">
        <div class="f1 purple ttu">
            <div>no agreements</div>
            <div>just noise</div>
            <div>...</div>
        </div>
        {% sidebar_item "home" "home" 8 %}
        {% sidebar_item "about" "about" 10 %}
        {% sidebar_item "creators" "creators" 15 %}
        {% sidebar_item "news" "news" 9 %}
        {% if user.is_authenticated %}
            {% sidebar_item "create" "new_post" 11 %}
            {% sidebar_item "you" "creator_detail" 6 user.id %}
            {% sidebar_item "logout" "logout" 12 %}
        {% else %}
            {% sidebar_item "login" "login" 9 %}

        {% endif %}
    </div>
</aside>
<div class="burger-wrapper dn-l">
    <div class="burger" onclick="openBurger()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<div class="close-wrapper dn-l" id="close-wrapper">
    <div class="close-button" onclick="closeBurger()">
        <p class="close-button-x">X</p>
    </div>
</div>


